.wrap {

    width: 525px;
    height: 100px;
    border: black 1px solid;
}

.c1 {
    width: 100px;
    height: 100px;
   
}

.bg1 {
    background-color: red;
    float: left;
}

.bg2 {
    background-color: yellow;
    float: left;
}

.bg3 {
    background-color: blue;
    float: right;
}

.bg4 {
    background-color: black;
    clear: both;
}