<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.iu.s1.bankBook.BankBookDAO">
 	
 	<select id="getBankBookCount" resultType="Long">
 		SELECT COUNT(BOOKNUM) FROM BANKBOOK
 	</select>
 
 
 	<select id="getBankBookList" parameterType="Pager" resultType="BankBookDTO">
 		SELECT * FROM
			(
				SELECT ROWNUM R, B.* FROM
					(
						SELECT * FROM BANKBOOK
						ORDER BY BOOKNUM DESC
					) B 
			)
		WHERE R BETWEEN #{startRow}  AND #{lastRow} 
	</select>
	
 	
 	<select id="getBankBookDetail" parameterType="BankBookDTO" resultType="BankBookDTO">
 		SELECT * FROM BANKBOOK WHERE BOOKNUM=#{bookNum}
 	</select>

 	<insert id="setBankBookAdd" parameterType="BankBookDTO">
 		INSERT INTO BANKBOOK 
 		VALUES (BKBOOK_SEQ.NEXTVAL,#{bookName},#{bookDetail},#{bookRate},#{bookSale})
 	</insert>
 	

 	<delete id="setBankBookDelete" parameterType="BankBookDTO">
 		DELETE BANKBOOK WHERE BOOKNUM=#{bookNum}
 	</delete> 
 	
 	<update id="setBankBookUpdate" parameterType="BankBookDTO">
 		UPDATE BANKBOOK SET BOOKNAME=#{bookName}, BOOKRATE=#{bookRate}, BOOKDETAIL=#{bookDetail}, BOOKSALE=#{bookSale}
 		WHERE BOOKNUM=#{bookNum}
 	</update>
 	
 </mapper>